{% extends 'home.html' %}
{% block search_visibility %}hidden{% endblock search_visibility %}

{% block title %} | No autorizado {% endblock title %}

{% block content %}
<body class="d-flex vh-100 align-items-center justify-content-center bg-light">
    <div class="text-center p-5 bg-white rounded-4 custom-shadow m-auto">
        <h1 class="text-danger mb-4">Acceso Denegado</h1>
        <p class="mb-4">No tienes permiso para realizar esta acción.</p>
        <p class="text-muted">Si crees que esto es un error, por favor contacta al administrador del sistema.</p>
        <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
    </div>
</body>
{% endblock content %}
