{% extends 'base.html' %}
{% block title %} Home{% endblock title %}  
{% block content %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        {% endif %}
        <h1 class="text-center fw-bold custom-font-size mb-0 mt-4 pb-2">
          Mis Documentos
        </h1>
        {% if page_obj %}        
          <div class="table-responsive mt-4 ms-5 me-5">
              <table class="table table-hover table-bordered align-middle table-custom-shadow rounded">
                <thead class="text-center table-info">
                  <tr>
                    <th class="custom-bg1 text-start">Nombre del documento</th>
                    <th class="custom-bg1">Asignatura</th>
                    <th class="custom-bg1">Fecha de subida</th>
                    <th class="custom-bg1">Documento</th>
                    <th class="custom-bg1">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                {% for document in page_obj %}
                  <tr>
                    <td>{{ document|truncatechars:80 }}</td>
                    <td class="text-center">{{ document.subject|default_if_none:"Sin asignar" }}</td>
                    <td class="text-center">{{ document.upload_date|date:"d F Y" }}</td>
                    <td class="text-center">
                      <a href="{{ document.file.url }}" class="btn btn-outline-success btn-sm" download>
                        <i class="bi bi-download"></i> Descargar
                      </a>
                    </td>
                    <td class="text-center">
                      <a href="/editar-documento/{{ document.id }}" class="btn btn-outline-warning btn-sm me-2">
                        <i class="bi bi-pencil-fill"></i> Editar
                      </a>
                      <button id="open-{{ document.id }}" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash-fill"></i> Eliminar</button>

                      <dialog id="dialog-{{ document.id }}" class="custom-shadow bordless">
                        <h3>{{ document|truncatechars:60 }}</h3>
                        <p>¿Estás seguro de que quieres eliminar este documento?</p>
                        <a href="/eliminar-documento/{{ document.id }}" class="btn btn-outline-danger btn-sm">Confirmar</a>
                        <button id="close-{{ document.id }}" class="btn btn-outline-primary btn-sm">Cerrar</button>
                      </dialog>
                      
                      <script>
                        document.addEventListener('DOMContentLoaded', (event) => {
                          const openButton = document.getElementById('open-{{ document.id }}');
                          const closeButton = document.getElementById('close-{{ document.id }}');
                          const dialog = document.getElementById('dialog-{{ document.id }}');
                      
                          openButton.addEventListener('click', () => {
                            dialog.showModal();
                          });
                      
                          closeButton.addEventListener('click', () => {
                            dialog.close();
                          });
                        });
                      </script>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>              
            </div>
            <nav aria-label="Paginación documentos" class="d-flex align-items-center position-relative py-4 mb-4">
              <a href="/subir-documento/" class="btn btn-primary btn-lg custom-shadow position-absolute start-50 translate-middle-x">
                <i class="bi bi-upload me-2 fs-4 align-middle"></i>
                <span class="fs-5 align-middle">Subir documento</span>
              </a>
              <ul class="pagination m-auto me-5">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&amp;{% if search %}search={{ search }}&amp;{% endif %}{% if selected_subject %}subject={{ selected_subject }}&amp;{% endif %}{% if selected_date %}upload_date={{ selected_date }}{% endif %}">
                      &laquo; Anterior
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">&laquo; Anterior</span></li>
                {% endif %}
            
                {% for num in page_range %}
                  {% if num == page_obj.number %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                  {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ num }}&amp;{% if search %}search={{ search }}&amp;{% endif %}{% if selected_subject %}subject={{ selected_subject }}&amp;{% endif %}{% if selected_date %}upload_date={{ selected_date }}{% endif %}">
                        {{ num }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
            
                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&amp;{% if search %}search={{ search }}&amp;{% endif %}{% if selected_subject %}subject={{ selected_subject }}&amp;{% endif %}{% if selected_date %}upload_date={{ selected_date }}{% endif %}">
                      Siguiente &raquo;
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">Siguiente &raquo;</span></li>
                {% endif %}
              </ul>
            </nav>            
        {% else %}
          <p class="text-center mt-2 fs-5">No se encontraron documentos.</p>
          <div class="text-center mb-4 mt-2">
            <a href="/subir-documento/" class="btn btn-primary btn-lg custom-shadow">
              <i class="bi bi-upload me-2 fs-4 align-middle"></i>
              <span class="fs-5 align-middle">Subir documento</span>
            </a>
        </div>
        {% endif %}
{% endblock content %}